/* If you wish to apply one of these colors to an object use the class next to it */
:root {
  --mdc-theme-primary: #fff;                  /* mdc-theme--primary */
  --mdc-theme-secondary: #D73F09;             /* mdc-theme--secondary */
  --mdc-theme-background: #D73F09;            /* mdc-theme--background */
  --mdc-theme-surface: #fff;                  /* mdc-theme--surface */
  --mdc-theme-error: #b00020;                 /* unknown */
  --mdc-theme-on-primary: #fff;               /* mdc-theme--on-primary */
  --mdc-theme-on-secondary: #fff;             /* mdc-theme--on-secondary */
  --mdc-theme-on-surface: #000;               /* mdc-theme--on-surface */
  --mdc-theme-on-error: #fff;                 /* unknown */
}

.fixed_bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.none {
  display: none;
}

#main {
  margin-bottom: 5%;
}
