.fixed_bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

:root {
  --mdc-theme-primary: #fff;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #D73F09;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
}

/* #D73F09 */
